.header {
    display: flex;
    justify-content: center;
    background-color: #2985e6;
    margin-bottom: 5rem;
    h1 {
        font-family: "Muli", sans-serif;
        color: rgba(255, 255, 255, 0.8);
        margin: 10px;
    }
}
